.trows {
    background-color: goldenrod;
}

.table {
    border-style: inset;
    border-color: black;
    border-radius: 20px;
    margin-top: 5px;
}

button {
    border-radius: 20px;
    margin-left: 2px;
}

button:hover {
    background-color: gold;
}