<h2 style="background-color:burlywood; padding: 5px 10px 10px 15px;">Make your Appointment here!!!</h2>

<form class="form" (ngSubmit)="onSubmit()">

    <!-- <input type="number" name="appointmentId" [(ngModel)]="appointmentId" placeholder="Id"> -->

    <p>Patient Name: <input type="text" name="patientName" [(ngModel)]="patientName" placeholder="Patient Name"></p>

    <p>Description: <input type="text" name="description" [(ngModel)]="description" placeholder="Description of visit"></p>

    <p>Doctor Name: <select type="text" name="doctorName" [(ngModel)]="doctorName" >
        <option *ngFor="let doctor of doctors">{{ doctor.doctorName }}</option>
    </select></p>

    <p>Appoitnment Date: <input type="date" name="appointmentTime" [(ngModel)]="appointmentTime" placeholder="Appointment Date"></p>

    <!-- <input type="text" name="token" [(ngModel)]="token" placeholder="Token"> -->

    <p><input type="submit" value="Submit" class="btn"></p>
</form>
