<!-- <table class="table">  -->
    <!-- <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead> -->
    <!-- <tr>
        <td>{{ appointment.appointmentId }}</td>
        <td>{{ appointment.patient.patientName }}</td>
        <td>{{ appointment.description }}</td>
        <td>{{ appointment.doctor.doctorName }}</td>
        <td>{{ appointment.appointmentTime | date }}</td>
        <td>{{ appointment.token }}</td>
    </tr>
</table>    -->
